# Project 4: Wrangle and Analice Data

author: Leonardo Rodr√≠guez
Date: March 13, 2021

## Introduction

In the following project we will be gathering three different files in order to process it according to the data analysis requirements. We will apply the data wrangling techniques for the analysis process, assessing data, applying data cleaning techniques, to make the data suitable for the analysis. We will create cleaned new files to apply on them the analysis and the visualizations when is necessary.

# Gathering Data


### Importing the necessary libraries to generate the code environment to work properly with the data

In [1]:
#Import necesary libraries
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import tidytext
#in order to see more content of the "text Column we change the display option of pandas"
pd.options.display.max_colwidth = 150

### Reading "twitter-archive-enhanced" file and showing the first rows

In [3]:
df = pd.read_csv("data/twitter-archive-enhanced.csv")
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https:/...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https:/...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

# Assessing Data

### Analyzing content of data frame from twitter-archive-enhanced file

In [4]:
df.describe(include = 'all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
tweet_id,2356.0,NaN,NaN,NaN,742771590321719808.000000,68567047444761032.000000,666020888022790144.0,678398938214475776.00,719627934716235776.0,799337304954252288.0,892420643555336192.0
in_reply_to_status_id,78.0,NaN,NaN,NaN,745507917855750656.000000,75824920044192880.000000,665814696700723200.0,675741911993464832.00,703870840226598912.0,825780371286566912.0,886266357075128320.0
in_reply_to_user_id,78.0,NaN,NaN,NaN,20141706360873208.000000,125279666255236320.000000,11856342.0,308637448.75,4196983835.0,4196983835.0,840547864354918400.0
timestamp,2356,2356,2017-06-27 00:10:17 +0000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
source,2356,4,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",2221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text,2356,2356,Meet Larry. He doesn't know how to shoe. 9/10 damn it Larry https://t.co/jMki5GOV3y,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
retweeted_status_id,181.0,NaN,NaN,NaN,772039961038007040.000000,62369278105055600.000000,666104133288665088.0,718631497683582976.00,780465709297995776.0,820314633777061888.0,887473957103951872.0
retweeted_status_user_id,181.0,NaN,NaN,NaN,12416983653017580.000000,95992535331517536.000000,783214.0,4196983835.00,4196983835.0,4196983835.0,787461778435289088.0
retweeted_status_timestamp,181,181,2015-11-19 00:32:12 +0000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
expanded_urls,2297,2218,https://twitter.com/dog_rates/status/667866724293877760/photo/1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rating_numerator,2356.0,NaN,NaN,NaN,13.126486,45.876648,0.0,10.00,11.0,12.0,1776.0
rating_denominator,2356.0,NaN,NaN,NaN,10.455433,6.745237,0.0,10.00,10.0,10.0,170.0
name,2356,957,None,745,NaN,NaN,NaN,NaN,NaN,NaN,NaN
doggo,2356,2,None,2259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
floofer,2356,2,None,2346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pupper,2356,2,None,2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN
puppo,2356,2,None,2326,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.count()

tweet_id                      2356
in_reply_to_status_id           78
in_reply_to_user_id             78
timestamp                     2356
source                        2356
text                          2356
retweeted_status_id            181
retweeted_status_user_id       181
retweeted_status_timestamp     181
expanded_urls                 2297
rating_numerator              2356
rating_denominator            2356
name                          2356
doggo                         2356
floofer                       2356
pupper                        2356
puppo                         2356
dtype: int64

In [7]:
df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
#Quantitie of unique elements of each column
df.nunique()

tweet_id                      2356
in_reply_to_status_id           77
in_reply_to_user_id             31
timestamp                     2356
source                           4
text                          2356
retweeted_status_id            181
retweeted_status_user_id        25
retweeted_status_timestamp     181
expanded_urls                 2218
rating_numerator                40
rating_denominator              18
name                           957
doggo                            2
floofer                          2
pupper                           2
puppo                            2
dtype: int64

# Cleaning Data

### Data cleaning on the file "twitter-archive-enhanced"

In [10]:
#Does de df nan values ?
df.isnull().values.any()

True

In [11]:
#Checking the columns with null values.
df.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [12]:
#analyse the content of one column
df["text"]

0                                               This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
1       This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https:/...
2           This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
3                                                     This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
4       This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https:/...
                                                                                ...
2351                                 Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq
2352                This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx
2353                       Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR
2354              This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI
2355                      Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj
Name: text, Length: 2356, dtype: object

In [13]:
df['retweeted_status_id'].count()

181

In [ ]:
#We clean the dataset, passing 4 columns to one.
df_clean = pd.melt(
    df, 
    id_vars = ['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'source','text','retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp','expanded_urls', 'rating_numerator','rating_denominator','name'],
    var_name ='dog_stages')

In [15]:
df_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stages,value
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,doggo,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https:/...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,doggo,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,doggo,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,doggo,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https:/...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,doggo,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9419,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,puppo,None
9420,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,puppo,None
9421,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,puppo,None
9422,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,puppo,None
9423,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,puppo,None

In [40]:
#Confirms proper column creation

df_clean['dog_stages'].unique()

array(['doggo', 'floofer', 'pupper', 'puppo'], dtype=object)

In [16]:
#We delete the duplicates created on the data set after apply the tidy data procedure
df_clean_drop = df_clean.drop_duplicates(subset=['tweet_id'])

In [17]:
#We validate that there is only one value for each "tweeter_id" as the original data set.
df_clean_drop[df_clean_drop['tweet_id'] == 892420643555336193]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stages,value
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,doggo,None

In [18]:
#Cheking the info of the data set to visually compare with the info of the original dataset
df_clean_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_stages                  2356 non-null   object
 14  value                       2356 non-null   object
dtypes: float64(4), int64(3), object(8)
memory usage: 294.5+ KB

In [19]:
#Checking the data content of the data set
df_clean_drop.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stages,value
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,doggo,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https:/...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,doggo,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,doggo,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,doggo,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https:/...",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,doggo,None

In [20]:
#Checking the columns with null values
df_clean_drop.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
dog_stages                       0
value                            0
dtype: int64

In [21]:
#All the columns has values, so is not posible droped due the insuficient information about the meaning of the data.
df_clean_drop[df_clean_drop['tweet_id'].notnull()].count()

tweet_id                      2356
in_reply_to_status_id           78
in_reply_to_user_id             78
timestamp                     2356
source                        2356
text                          2356
retweeted_status_id            181
retweeted_status_user_id       181
retweeted_status_timestamp     181
expanded_urls                 2297
rating_numerator              2356
rating_denominator            2356
name                          2356
dog_stages                    2356
value                         2356
dtype: int64

In [48]:
# Due the comment in the Project Motivation we have to validate the data from the "text" column and compare with the new "dog_stages"
dog_stage_error = df_clean_drop[['tweet_id', 'text','dog_stages' ]][(df_clean_drop['text'].str.contains('doggo')) & (df_clean_drop['dog_stages'] != 'doggo')]
print(dog_stage_error)

Empty DataFrame
Columns: [tweet_id, text, dog_stages]
Index: []

Empty DataFrame
Columns: [tweet_id, text, dog_stages]
Index: []

In [42]:
df_clean_drop[['tweet_id', 'text','dog_stages' ]][(df_clean_drop['text'].str.contains('doggo')) & (df_clean_drop['dog_stages'] != 'doggo')]

Empty DataFrame
Columns: [tweet_id, text, dog_stages]
Index: []

In [69]:
dogtionary =  ['doggo', 'pupper', 'puppo', 'floof']

In [70]:
df_clean_drop['text'].str.contains('pupper').sum()

272

In [55]:
df_clean_drop['text'].str.contains('doggo').sum()

98

In [68]:
df_clean_drop['text'].str.contains('floofer').sum()

4

In [72]:
df_clean_drop['text'].str.contains('puppo').sum()

37

In [80]:
dogtionary =  ['doggo', 'pupper', 'puppo', 'floof']
for i in dogtionary:
    df_clean_drop['dog_stages'] = np.where(df_clean_drop['text'].str.contains(i), i, df_clean_drop['dog_stages'])
    
df_clean_drop['dog_stages'].value_counts()

<ipython-input-80-9399be2d1724>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_drop['dog_stages'] = np.where(df_clean_drop['text'].str.contains(i), i, df_clean_drop['dog_stages'])

doggo     2024
pupper     272
puppo       37
floof       23
Name: dog_stages, dtype: int64

In [76]:
df_clean_drop['dog_stages'].apply(lambda x: ifelse(x))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
#loop to repair the original value asignation from the column "text" for the dog_Stages values, "doggo", "floofer","pupper", "puppo"
a = 0
for i in range(len(df_clean_drop)):
#    find_result = my_string_series.str.find("o")
    if df_clean_drop['text'].str.contains('doggo').all():
        print('doggo')
    elif df_clean_drop['text'].str.contains('floofer').all(): 
            print ('floofer')

In [35]:
df_clean_drop['dog_stages'] = np.where(df_clean_drop['text'].str.contains('doggo'), "doggo", df_clean_drop['dog_stages'])

<ipython-input-35-173435ed2077>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_drop['dog_stages'] = np.where(df_clean_drop['text'].str.contains('doggo'), "doggo", df_clean_drop['dog_stages'])

In [39]:
df_clean_drop['dog_stages'].unique()

array(['doggo'], dtype=object)

In [ ]:
if df_clean_drop.iloc[i]['text'].str.contains('doggo'):
    (df_clean_drop['dog_stages'] == 'doggo').any()

# Gathering Data

### Reading content of tweet-json

In [ ]:
dftweet = pd.read_json("tweet-json.txt", lines=True)
dftweet.head()

# Assessing Data

### Analysing content of dataframe from "tweet-json file"

In [ ]:
dftweet.describe(include = 'all')

In [ ]:
dftweet.count()

In [ ]:
dftweet.columns

In [ ]:
dftweet.info()

In [ ]:
#Quantitie of rows and columns
print(dftweet.shape)

# Cleaning Data

### Data cleaning on the file "tweet-json"

In [ ]:
#Does de dff nan values ?
dftweet.isnull().values.any()

In [ ]:
dftweet.isnull().any()

In [ ]:
dftweet.isnull().sum()

In [ ]:
#Comparing df versus dff by columns, to find the relation
df['tweet_id'].isin(dftweet['id']).value_counts()

# Gathering Data

### Downloading html file "image-predictions"

In [ ]:
ip_html = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

#ip_html.headers['content-type']
ip_html.text

In [ ]:
#load the "image-predictions.tsv" file into a df. Due to the format of the file, we use "sep='\t', header=0" options to read it properly 
dfimg = pd.read_csv("image-predictions.tsv", sep='\t', header=0)
dfimg.head()

# Assessing Data

### Analysing content of dataframe from image-predictions.tsv file

In [ ]:
dfimg.describe(include = 'all').transpose()

In [ ]:
dfimg.count()

In [ ]:
dfimg.info()

In [ ]:
dfimg.columns

In [ ]:
dfimg.nunique

# Cleaning Data

### Data cleaning on the file "image-predictions.tsv"

In [ ]:
#Does de dfimg nan values ?
dfimg.isnull().values.any()

In [ ]:
#Comparing df versus dfimg by columns, to find the relation
df['tweet_id'].isin(dfimg['tweet_id']).value_counts()

In [ ]:
#Comparing dftweet versus dfimg by columns, to find the relation
dftweet['id'].isin(dfimg['tweet_id']).value_counts()

###     References:
- Udacity - Felipe Mallicura's Classes
- pandas.pydata.org
- docs.python.org
- matplotlib.org
- stackoverflow.com
- Exploratory Data Analysis (EDA) and Data Visualization with Python - Vigneshwer Dhinakaran