In [1]:
import psycopg2
import os

In [3]:
USER = os.environ['USERNAME']
PASSWORD = os.environ['PASSWORD']

In [4]:
conn = psycopg2.connect(database='ecomm',
                        user=USER,
                        password=PASSWORD,
                        port=5433)

In [8]:
def getProductsByType(db_conn, prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT * FROM products WHERE product_type = %s"
    cursor.execute(sql_string,[prod_type])
    return(cursor.fetchall())

In [9]:
all_ovens = getProductsByType(conn, 'oven')

In [10]:
all_ovens

[(1, 'Reflector oven', 'oven'),
 (2, 'Convection microwave', 'oven'),
 (15, 'Masonry oven', 'oven'),
 (24, 'Microwave oven', 'oven'),
 (32, 'Russian oven', 'oven'),
 (33, 'Clome oven', 'oven'),
 (34, 'Convection oven', 'oven'),
 (37, 'Beehive oven', 'oven'),
 (38, 'Toaster and toaster ovens', 'oven'),
 (41, 'Self-cleaning oven', 'oven'),
 (42, 'Wood-fired oven', 'oven'),
 (43, 'Kitchener range', 'oven'),
 (47, 'Oven', 'oven'),
 (48, 'Hot box (appliance)', 'oven'),
 (58, 'Tabun oven', 'oven'),
 (67, 'Chorkor oven', 'oven'),
 (72, 'Communal oven', 'oven'),
 (74, 'Halogen oven', 'oven'),
 (78, 'Stove', 'oven'),
 (80, 'Earth oven', 'oven')]

In [11]:
len(all_ovens)

20

In [13]:
cursor = conn.cursor()
fetchall_cnt = 0

for oven in all_ovens:
    oven_id = oven[0]
    sql_string = "SELECT * FROM product_orders WHERE product_id = %s"
    cursor.execute(sql_string,[oven_id])
    oven_order = cursor.fetchall()
    fetchall_cnt += 1
    print(oven_order, "\n")
    print("Fetch all count:", fetchall_cnt)

[(4, 1, 1, Decimal('296.47')), (23, 1, 4, Decimal('30.99')), (57, 1, 4, Decimal('124.53')), (63, 1, 2, Decimal('131.79'))]

Fetch all count: 1
[(5, 2, 2, Decimal('270.24')), (21, 2, 2, Decimal('196.39'))]

Fetch all count: 2
[(9, 15, 3, Decimal('53.26')), (38, 15, 2, Decimal('299.62')), (41, 15, 2, Decimal('158.61'))]

Fetch all count: 3
[(3, 24, 5, Decimal('131.20')), (32, 24, 5, Decimal('60.54')), (36, 24, 5, Decimal('93.13')), (49, 24, 4, Decimal('228.74')), (81, 24, 2, Decimal('283.90'))]

Fetch all count: 4
[(24, 32, 3, Decimal('70.57'))]

Fetch all count: 5
[(38, 33, 4, Decimal('236.11')), (40, 33, 1, Decimal('227.86')), (61, 33, 2, Decimal('45.44')), (82, 33, 3, Decimal('29.96'))]

Fetch all count: 6
[(12, 34, 3, Decimal('251.16')), (28, 34, 4, Decimal('72.18')), (69, 34, 5, Decimal('73.06')), (71, 34, 2, Decimal('75.19'))]

Fetch all count: 7
[(35, 37, 4, Decimal('211.71')), (49, 37, 1, Decimal('162.63')), (51, 37, 5, Decimal('271.15')), (61, 37, 2, Decimal('256.34'))]

Fetch all count: 8
[(56, 38, 4, Decimal('262.44')), (67, 38, 5, Decimal('237.32')), (71, 38, 5, Decimal('286.17')), (75, 38, 4, Decimal('96.06'))]

Fetch all count: 9
[]

Fetch all count: 10
[(8, 42, 2, Decimal('99.52')), (18, 42, 1, Decimal('281.35'))]

Fetch all count: 11
[(46, 43, 5, Decimal('207.13'))]

Fetch all count: 12
[(16, 47, 1, Decimal('246.68')), (45, 47, 1, Decimal('26.16')), (48, 47, 3, Decimal('262.16'))]

Fetch all count: 13
[(12, 48, 4, Decimal('20.08')), (21, 48, 5, Decimal('52.86')), (41, 48, 3, Decimal('148.91')), (43, 48, 4, Decimal('120.45')), (59, 48, 2, Decimal('164.11')), (85, 48, 5, Decimal('232.08'))]

Fetch all count: 14
[(2, 58, 5, Decimal('102.97')), (25, 58, 4, Decimal('85.03')), (28, 58, 2, Decimal('289.46')), (38, 58, 3, Decimal('255.12')), (40, 58, 2, Decimal('247.79')), (80, 58, 1, Decimal('95.93'))]

Fetch all count: 15
[(46, 67, 3, Decimal('257.33'))]

Fetch all count: 16
[(14, 72, 2, Decimal('118.64')), (77, 72, 3, Decimal('103.48'))]

Fetch all count: 17
[(27, 74, 1, Decimal('202.45')), (50, 74, 5, Decimal('290.62')), (62, 74, 4, Decimal('158.41'))]

Fetch all count: 18
[(23, 78, 3, Decimal('245.55')), (24, 78, 4, Decimal('21.83'))]

Fetch all count: 19
[(2, 80, 1, Decimal('181.54')), (26, 80, 3, Decimal('30.75')), (58, 80, 3, Decimal('185.41')), (68, 80, 5, Decimal('175.18')), (82, 80, 2, Decimal('140.09'))]

Fetch all count: 20

In [19]:
def getProductOrdersByType(db_conn, prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT po.*   \
                    FROM product_orders po  \
                    INNER JOIN products p   \
                    ON po.product_id = p.product_id  \
                    WHERE p.product_type = %s"
    cursor.execute(sql_string,[prod_type])
    return(cursor.fetchall())

In [21]:
getProductOrdersByType(conn, 'oven')

[(2, 58, 5, Decimal('102.97')),
 (2, 80, 1, Decimal('181.54')),
 (3, 24, 5, Decimal('131.20')),
 (4, 1, 1, Decimal('296.47')),
 (5, 2, 2, Decimal('270.24')),
 (8, 42, 2, Decimal('99.52')),
 (9, 15, 3, Decimal('53.26')),
 (12, 34, 3, Decimal('251.16')),
 (12, 48, 4, Decimal('20.08')),
 (14, 72, 2, Decimal('118.64')),
 (16, 47, 1, Decimal('246.68')),
 (18, 42, 1, Decimal('281.35')),
 (21, 2, 2, Decimal('196.39')),
 (21, 48, 5, Decimal('52.86')),
 (23, 1, 4, Decimal('30.99')),
 (23, 78, 3, Decimal('245.55')),
 (24, 32, 3, Decimal('70.57')),
 (24, 78, 4, Decimal('21.83')),
 (25, 58, 4, Decimal('85.03')),
 (26, 80, 3, Decimal('30.75')),
 (27, 74, 1, Decimal('202.45')),
 (28, 34, 4, Decimal('72.18')),
 (28, 58, 2, Decimal('289.46')),
 (32, 24, 5, Decimal('60.54')),
 (35, 37, 4, Decimal('211.71')),
 (36, 24, 5, Decimal('93.13')),
 (38, 15, 2, Decimal('299.62')),
 (38, 33, 4, Decimal('236.11')),
 (38, 58, 3, Decimal('255.12')),
 (40, 33, 1, Decimal('227.86')),
 (40, 58, 2, Decimal('247.79')),
 (41, 15, 2, Decimal('158.61')),
 (41, 48, 3, Decimal('148.91')),
 (43, 48, 4, Decimal('120.45')),
 (45, 47, 1, Decimal('26.16')),
 (46, 43, 5, Decimal('207.13')),
 (46, 67, 3, Decimal('257.33')),
 (48, 47, 3, Decimal('262.16')),
 (49, 24, 4, Decimal('228.74')),
 (49, 37, 1, Decimal('162.63')),
 (50, 74, 5, Decimal('290.62')),
 (51, 37, 5, Decimal('271.15')),
 (56, 38, 4, Decimal('262.44')),
 (57, 1, 4, Decimal('124.53')),
 (58, 80, 3, Decimal('185.41')),
 (59, 48, 2, Decimal('164.11')),
 (61, 33, 2, Decimal('45.44')),
 (61, 37, 2, Decimal('256.34')),
 (62, 74, 4, Decimal('158.41')),
 (63, 1, 2, Decimal('131.79')),
 (67, 38, 5, Decimal('237.32')),
 (68, 80, 5, Decimal('175.18')),
 (69, 34, 5, Decimal('73.06')),
 (71, 34, 2, Decimal('75.19')),
 (71, 38, 5, Decimal('286.17')),
 (75, 38, 4, Decimal('96.06')),
 (77, 72, 3, Decimal('103.48')),
 (80, 58, 1, Decimal('95.93')),
 (81, 24, 2, Decimal('283.90')),
 (82, 33, 3, Decimal('29.96')),
 (82, 80, 2, Decimal('140.09')),
 (85, 48, 5, Decimal('232.08'))]

In [22]:
def getProductOrdersByType2(db_conn, prod_type):
    cursor = db_conn.cursor()
    sql_string = "SELECT po.*  \
                    FROM product_orders po  \
                    INNER JOIN products p    \
                    ON po.product_id = p.product_id  \
                    WHERE p.product_type = %s  \
                    AND po.quantity > 3"
    cursor.execute(sql_string,[prod_type])
    return(cursor.fetchall())

In [23]:
getProductOrdersByType2(conn,'fryer')

[(1, 3, 5, Decimal('72.69')),
 (11, 3, 4, Decimal('296.83')),
 (18, 26, 5, Decimal('253.36')),
 (53, 3, 5, Decimal('161.05')),
 (53, 17, 4, Decimal('125.62')),
 (59, 54, 5, Decimal('272.47')),
 (70, 3, 4, Decimal('261.91'))]